<template name="GoodsonsDetails">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> GoodsonsDetailsDetailsForm}}
	</div>
</template>

<template name="GoodsonsDetailsDetailsForm">
	<div class="">
		<h2 id="component-title">
			<a href="#" id="form-back-button" class="btn btn-default" title="back">
				<span class="fa fa-chevron-left">
				</span>
			</a>
			Details
		</h2>
		<form id="form" role="form" class="form-horizontal">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}		
		
			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-date">
				<label for="date" class="col-sm-3 control-label">
					Invoice date
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static">
						{{formatDate goodson.date 'MM-DD-YYYY'}}
					</p>
				</div>
			</div>
			<div class="form-group  field-one">
				<label for="one" class="col-sm-3 control-label">
					Question 1
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static">
						{{goodson.one}}
					</p>
				</div>
			</div>
			<div class="form-group  field-two">
				<label for="two" class="col-sm-3 control-label">
					Question 2
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static">
						{{goodson.two}}
					</p>
				</div>
			</div>
			<div class="form-group  field-three">
				<label for="three" class="col-sm-3 control-label">
					Question 3
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static">
						{{goodson.three}}
					</p>
				</div>
			</div>
			<div class="form-group  field-four">
				<label for="four" class="col-sm-3 control-label">
					Question 4
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static">
						{{goodson.four}}
					</p>
				</div>
			</div>
			<div class="form-group  field-five">
				<label for="five" class="col-sm-3 control-label">
					Question 5
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static">
						{{goodson.five}}
					</p>
				</div>
			</div>
			<div class="form-group  field-six">
				<label for="six" class="col-sm-3 control-label">
					Question 6
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static">
						{{goodson.six}}
					</p>
				</div>
			</div>
			<div class="form-group  field-six">
				<label for="six" class="col-sm-3 control-label">
					Question 7
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static">
						{{goodson.six}}
					</p>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div col-sm-9 col-sm-offset-3">
					<a href="#" id="form-close-button" class="btn btn-primary">
						OK
					</a>
				</div>
			</div>
		</form>
	</div>
</template>

